.navbar {
    display:flex;
    align-items:center;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;

}

.navbar-left{
    display: flex;
    align-items: center;
}

.navbar-logo {
    height: 40px;
    margin-right: center;

}

.navbar-center {
    display: flex;
    gap: 20px;

}

.navbar-link {
    color: #fff;
    text-decoration: none;
    font-size: 1.2em;
}

.navbar-link:hover {
    text-decoration: underline;
}

.navbar-right {
    display:flex;
    align-items: center;
    margin-left:auto;
}

.navbar-button {
    background-color: #ff4b5c;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
}

.navbar-button:hover {
    background-color: #ff1f3a;
}